<div class="container">
  <h2>Lista de Animais</h2>

  <button [routerLink]="['/animals/add']" class="btn btn-primary mb-3">Adicionar Novo Animal</button>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Espécie</th>
        <th>Habitat</th>
        <th>País de Origem</th>
        <th>Data de Nascimento</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let animal of animals">
        <td>{{ animal.id }}</td>
        <td>{{ animal.nome }}</td>
        <td>{{ animal.especie }}</td>
        <td>{{ animal.habitat }}</td>
        <td>{{ animal.paisOrigem }}</td>
        <td>{{ animal.dataNascimento | date:'dd/MM/yyyy' }}</td>
        <td>
          <button [routerLink]="['/animals/edit', animal.id]" class="btn btn-sm btn-info me-2">Editar</button>
          <button (click)="deleteAnimal(animal.id!)" class="btn btn-sm btn-danger">Excluir</button>
        </td>
      </tr>
      <tr *ngIf="animals.length === 0">
        <td colspan="7">Nenhum animal encontrado.</td>
      </tr>
    </tbody>
  </table>
</div>
