<div class="container">
  <h2>{{ formTitle }}</h2>

  <form [formGroup]="animalForm" (ngSubmit)="saveAnimal()">
    <div class="mb-3">
      <label for="nome" class="form-label">Nome:</label>
      <input type="text" id="nome" formControlName="nome" class="form-control"
             [ngClass]="{'is-invalid': f['nome'].invalid && f['nome'].touched}">
      <div *ngIf="f['nome'].invalid && f['nome'].touched" class="invalid-feedback">
        Nome é obrigatório.
      </div>
    </div>

    <div class="mb-3">
      <label for="descricao" class="form-label">Descrição:</label>
      <textarea id="descricao" formControlName="descricao" class="form-control" rows="3"
                [ngClass]="{'is-invalid': f['descricao'].invalid && f['descricao'].touched}"></textarea>
      <div *ngIf="f['descricao'].invalid && f['descricao'].touched" class="invalid-feedback">
        Descrição é obrigatória.
      </div>
    </div>

    <div class="mb-3">
      <label for="dataNascimento" class="form-label">Data de Nascimento:</label>
      <input type="date" id="dataNascimento" formControlName="dataNascimento" class="form-control"
             [ngClass]="{'is-invalid': f['dataNascimento'].invalid && f['dataNascimento'].touched}">
      <div *ngIf="f['dataNascimento'].invalid && f['dataNascimento'].touched" class="invalid-feedback">
        Data de Nascimento é obrigatória.
      </div>
    </div>

    <div class="mb-3">
      <label for="especie" class="form-label">Espécie:</label>
      <input type="text" id="especie" formControlName="especie" class="form-control"
             [ngClass]="{'is-invalid': f['especie'].invalid && f['especie'].touched}">
      <div *ngIf="f['especie'].invalid && f['especie'].touched" class="invalid-feedback">
        Espécie é obrigatória.
      </div>
    </div>

    <div class="mb-3">
      <label for="habitat" class="form-label">Habitat:</label>
      <input type="text" id="habitat" formControlName="habitat" class="form-control"
             [ngClass]="{'is-invalid': f['habitat'].invalid && f['habitat'].touched}">
      <div *ngIf="f['habitat'].invalid && f['habitat'].touched" class="invalid-feedback">
        Habitat é obrigatório.
      </div>
    </div>

    <div class="mb-3">
      <label for="paisOrigem" class="form-label">País de Origem:</label>
      <input type="text" id="paisOrigem" formControlName="paisOrigem" class="form-control"
             [ngClass]="{'is-invalid': f['paisOrigem'].invalid && f['paisOrigem'].touched}">
      <div *ngIf="f['paisOrigem'].invalid && f['paisOrigem'].touched" class="invalid-feedback">
        País de Origem é obrigatório.
      </div>
    </div>

    <button type="submit" class="btn btn-success me-2" [disabled]="!animalForm.valid">Salvar</button>
    <button type="button" class="btn btn-secondary" (click)="router.navigate(['/animals'])">Cancelar</button>
  </form>
</div>
